// Menu mobile
.logo {
  max-height: 110px;
  flex: 1 100%;
  font-family: 'Baloo';
  font-size: 4rem;
  color: $firstColor;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  span {
    color: $secondColor;
    font-family: 'Arvo';
    font-size: 1rem;
    font-weight: bold;
    display:block;
    text-align: center;
    position: relative;
    bottom: 20px;
  }
}
.menu {
  flex: 1 100%;
  font-family: 'Baloo';
  .toggle {
    font-size: 1.6rem;
    text-align: center;
    border-radius: 7px;
    margin: 2px 10px;
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.7);
    -moz-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.7);
    box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.7);
  }
  nav ul {
    overflow: hidden;
    display: none;
  }
  nav ul li {
    width:100%;
    min-width:0;
    border-bottom: 2px solid $secondColor;
    font-size: 1.5rem;
  }
  nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $secondColor;
    &:hover {
      color: $firstColor;
    }
  }
}

// Style mobile
.container {
  max-width: 1200px; //maksymalna szerokosc kontenera
  margin: 0px auto; //wysrodkowanie
  @include flexbox; //uzywamy mixinów
  @include wrap(wrap);
  .block {
    flex: 1 100%; //domyslnie element ma 100% szerokoci
    box-sizing: border-box;
    padding: 15px;
    font-family: 'Baloo', cursive;
    a {
      text-decoration: none;
    }
    .inner {
      height: 250px;
      padding-top: 20%;
      background-image: url('../images/test.jpg');// Wypełniacz pustych miejsc
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: $thirdColor;
      font-size: 2rem;
      text-align: center;
      transition:all 0.3s ease-out;
      opacity: 1;
      .flow {
        width:100%;
        background-color: rgba(white,0.7);
      }
      p {
        display: none;
      }
    }
    .inner:hover {
      height: 250px;
      padding-top: 20%;
      background-image: url('../images/test.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: $thirdColor;
      font-size: 2rem;
      text-align: center;
      opacity: 0.9;
      -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      p {
//      animizowanie paragrafu
        -webkit-animation: swing-in-top-fwd 0.4s ease-in-out both;
        -moz-animation: swing-in-top-fwd 0.4s ease-in-out both;
        animation: swing-in-top-fwd 0.4s ease-in-out both;
//
        display: block;
        max-height: 65%;
        padding: 10px;
        // margin: 0.5em 2em 0 2em;//margines poprawny, aktualnie niepotrzebny
        font-family: 'Arvo';
        color: $fifthColor;
        font-size: .9rem;
        text-align: center;
        background-color: rgba(0,0,0,0.77);
        span {
          color: red;
          font-family: 'Baloo';
          font-size: 1.2rem;
        }
      }
    }
  }
}
// Ukrywanie widoku menu na mobile
nav.show ul {
  display: block;
}
// Stylowanie artykułu
.content {
  flex: 1 100%;
  text-align: left;
  font-family: 'Noto Sans';
  font-size: 1.2rem;
  color: $thirdColor;
  padding: 20px 10px 10px 20px;
  h2 {
    color: $firstColor;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px 0;
  }
  p {
    color: $thirdColor;
  }
  a {
    color: $fourthColor;
    text-decoration: none;
    span {
      font-size: 2rem;
      font-weight: bold;
      color: $fourthColor;
    }
  }
  span {
    color: $secondColor;
    font-weight: bold;
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 auto;
  }
  img {
    padding: 10px;
  }
  .video {
  width: 90%;
  height: 240px;
  margin-left: 1%;
  margin-right: 1%;
  }
// Formularz
  .form {
    font-family: 'Noto Sans';
    margin: 3rem auto;
    max-width: 40rem;
    text-align: center;
  }
  .form .form-row {
    margin-bottom: 1rem;
  }
  .form .form-row:last-child {
    margin-bottom: 0;
  }
  .form input[type=text],
  .form input[type=email],
  .form textarea,
  .form .state {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.07);
  }
  .form input[type=text],
  .form input[type=email],
  .form textarea {
    border-radius: 0.2rem;
    padding: 0.8rem;
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    color: #666;
  }
  .form input[type=text]:focus,
  .form input[type=email]:focus,
  .form textarea:focus {
    border-color:#9DC9F5;
    box-shadow:inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
    outline:none;
  }
  .form textarea {
    height: 10rem;
  }
  .form label {
    font-weight: bold;
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .form .submit-btn {
    padding: 1rem 2rem;
    background: $secondColor;
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
  }
  // Walidacja formularza
  .form input[type=text].error,
  .form input[type=email].error,
  .form textarea.error,
  .form .checkbox-cnt input.error ~ .state {
      border-color:$fourthColor;
  }
  .field-error {
      color: $fourthColor;
      padding: 0.5rem 0;
      font-size: 0.8rem;
  }
  // Input formularza
  .elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
  }
  .elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
  }
  // Style błędów
  .form .send-error {
    display:inline-block;
    font-family: sans-serif;
    padding:1rem 2rem;
    color: $fourthColor;
  }
  // odrobina stylizacji
  @media screen and (max-width:500px) {
    .form .send-error {
      text-align:center;
      display: block;
    }
  }
  // Style sukcesów
  .form-send-success {
    font-family: sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    border:1px solid #eee;
    color:#333;
    padding:10rem 0;
    margin:3rem auto;
    max-width:40rem;
  }
  .form-send-success strong {
    display:block;
    margin-bottom:0.5rem;
  }
  .form-send-success span {
    font-size:1rem;
    color:#888;
    font-weight:normal;
    display: block;
  }
}
// stylowanie aside
.panel {
  flex:1 100%;
  max-width: 450px;
  min-width: 300px;
  font-family: 'Baloo';
  font-size: 1.2rem;
  text-align: center;
  color: $firstColor;
  margin: 0 auto;
}
// Stylowanie stopki
.centred {
  margin-top: 5px;
  background-color: $firstColor;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
  box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
  color: $fifthColor;
  font-size: 1rem;
  font-family: 'Arvo';
  min-height: 42px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  span{
    margin-left: 3px;
    margin-right: 3px;
    color: red;
    font-weight: bold;
  }
}

//Style dla rozdzielczości od 600px do 900px
@include mobile() {
  .container {
    flex-direction: row;
    .block {
      flex: 0 50%;
    }
    // Stylowanie artykułu
    .content {
      flex: 1 60%;
      .video{
        width: 90%;
        height: 280px;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    // stylowanie aside
    .panel {
      flex:1 40%;
    }
  }
}

//Style dla rozdzielczosci wiekszej niż 900px
@include desktop() {
  .container {
    flex-direction: row;
    .block {
      flex: 0 33%;
    }
    // Stylowanie artykułu
    .content {
      flex: 1 60%;
      .video{
        width: 90%;
        height: 340px;
        margin-left: 1%;
        margin-right: 1%;
      }
    }
    // stylowanie aside
    .panel {
      flex:0 40%;
    }
  }
  // Menu desktop
  .logo {
    max-height: 100px;
    flex: 1 50%;
    width: 50%;
    font-size: 4rem;
    text-align: left;
    padding-left: 20px;
    span {
      color: $secondColor;
      width: 100%;
      font-family: 'Arvo';
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
      display: block;
      text-align: left;
      position: relative;
      bottom: 20px;
    }
  }
  .menu {
    flex: 1 50%;
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 20px;
    .toggle {
      display: none;
    }
    nav ul {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 1.4rem;
      height: 2em;
      line-height: 2em;
      li {
        align-items: stretch;
        float: right;
        max-width: 150px;
        width: 30%;
        margin-left: 5px;
        border: none;
        a {
          font-size: 1.2rem;
          display:block;
          color:#000;
          text-decoration:none;
          padding:0 15px;
          vertical-align: middle;
        }
      }
      li:hover {
        border-radius: 7px;
        -webkit-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
        -moz-box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
        box-shadow: inset 0px 0px 5px 4px rgba(55, 99, 145, 0.5);
      }
    }
  }
}

// Preloader
.preloader {
  width: $preloader-size;
  height: $preloader-size;
  border: $preloader-border-size solid $preloader-color;
  border-radius: 100%;
}
.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.2rem 0 0 -.2rem;
  border-bottom: $preloader-border-size solid $preloader-color;
  border-radius: .6rem;
  -webkit-transform-origin: .2rem center;
}
.preloader:before { // wskazówka godziny
  width: 30%;
  -webkit-animation: hour $preloader-spin-duration linear infinite;
}
.preloader:after { // wskazówka minuty
  width: 40%;
  background-color: $preloader-color;
  -webkit-animation: minute $preloader-spin-duration-fast linear infinite;
}
// style preloader
.preloader {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
