$firstColor: #20365F;
$secondColor: #376391;
$thirdColor: #26262B;
$fourthColor: red;
$fifthColor: #eee;

$mobile: 600px; //breakpoint dla mobile
$desktop: 900px; //breakpointy dla wiekszego ekranu

// Preloader - scroll to top;
$preloader-size: 3rem;
$preloader-border-size: .4rem;
$preloader-color: #20365f;
$preloader-spin-duration: 10s;
$preloader-spin-duration-fast: $preloader-spin-duration/12;
