$firstColor: #20365F;
$secondColor: #376391;
$thirdColor: #26262B;
$fourthColor: #C24644;
$fifthColor: #eee;

//mixin generujący poprawne instrukcje dla roznych przeglądarek
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//mixin generujący instrukcję flex-wrap dla roznych przegladarek
@mixin wrap($value) {
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

$mobile: 600px; //breakpoint dla mobile
$desktop: 900px; //breakpointy dla wikeszego ekranu

//mixin który wygeneruje nam media query dla rozdzielczosci 600px<..<900px
@mixin mobile() {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$desktop}) {
    @content;
  }
}
//mixin który wygeneruje nam media query dla rozdzielczosci >900px
@mixin desktop() {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}
// Menu mobile
.logo {
  flex: 1 100%;
  font-size: 3rem;
  text-align: center;

  span {
    font-size: 1rem;
    display: block;
    text-align: center;
  }
}
.menu {
  flex: 1 100%;

  .toggle {
    font-size: 1.5rem;
    border: 1px solid black;
    text-align: center;
  }

  nav ul {
    overflow: hidden;
    display: none;

  }
  nav ul li {
    width:100%;
    min-width:0;
    border:1px solid #000;
    font-size: 1.5rem;

  }
  nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: $thirdColor;
  }
}
// menu mobilne end




.container {
  max-width: 1200px; //maksymalna szerokosc kontenera
  margin: 0px auto; //wysrodkowanie
  @include flexbox; //uzywamy mixinów
  @include wrap(wrap);

  .block {
    flex: 1 100%; //domyslnie element ma 100% szerokoci
    box-sizing: border-box;
    padding: 15px 15px;

    a {
      text-decoration: none;
    }

    .inner {
      height: 250px;
      padding-top: 20%;

      background-image: url('../images/test.jpg');// Wypełniacz pustych miejsc
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      color: $thirdColor;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;

      transition:all 0.3s ease-out;
      opacity: 1;

      p {
        display: none;
      }
    }
    .inner:hover {
      height: 250px;
      padding-top: 20%;

      background-image: url('../images/test.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      color: $thirdColor;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;


      opacity: 0.9;

      -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);

      p {
        display: block;
        max-height: 60%;
        padding: 10px;
        margin: 0.5em 2em 0 2em;

        color: $fifthColor;
        font-size: .9rem;
        text-align: center;
        font-weight: 500;

        background-color: rgba(0,0,0,0.77);

        span {
          color: red;
          font-weight: 900;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}


nav.show ul {
  display: block;
}

//Style dla >900px
@include desktop() {

  .container {
    flex-direction: row;
    .block {
      flex: 0 33%;
    }
  }
  // Menu desktop
  .logo {
    flex: 1 50%;
    width: 50%;
    font-size: 3rem;
    text-align: left;
    padding-left: 20px;

    span {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      display: block;
      text-align: left;
    }
  }
  .menu {
    flex: 1 50%;
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 20px;

    .toggle {
      display: none;
    }

    nav ul {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      height: 2em;
      line-height: 2em;

      li {
        align-items: stretch;
        float: right;
        max-width: 150px;
        width: 30%;
        margin-left: 5px;
        border: none;

        a {
          font-size: 1.2rem;
          display:block;
          color:#000;
          text-decoration:none;
          padding:0 15px;
          vertical-align: middle;
        }
      }
      li:hover {
        border-radius: 7px;
        -webkit-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.4);
      }
    }

  }
  //  end menu desktop
}
//Style dla 600px<..<900px
@include mobile() {
  .container {
    flex-direction: row;
    .block {
      flex: 0 50%;
    }
  }
}
