$firstColor: #20365F;
$secondColor: #376391;
$thirdColor: #26262B;
$fourthColor: #C24644;
$fifthColor: #eee;

//mixin generujący poprawne instrukcje dla roznych przeglądarek
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//mixin generujący instrukcję flex-wrap dla roznych przegladarek
@mixin wrap($value) {
  -webkit-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

$mobile: 600px; //breakpoint dla mobile
$desktop: 900px; //breakpointy dla wikeszego ekranu

//mixin który wygeneruje nam media query dla rozdzielczosci 600px<..<900px
@mixin mobile() {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$desktop}) {
    @content;
  }
}
//mixin który wygeneruje nam media query dla rozdzielczosci >900px
@mixin desktop() {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

.container {
  max-width: 1200px; //maksymalna szerokosc kontenera
  margin: 0px auto; //wysrodkowanie
  @include flexbox; //uzywamy mixinów
  @include wrap(wrap);

  .block {
    flex: 1 100%; //domyslnie element ma 100% szerokoci
    box-sizing: border-box;
    padding: 15px 15px;

    a {
      text-decoration: none;
    }

    .inner {
      height: 250px;
      padding-top: 20%;

      background-image: url('../images/test.jpg');// Wypełniacz pustych miejsc
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      color: $thirdColor;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;

      p {
        display: none;
      }
    }
    .inner:hover {
      height: 250px;
      padding-top: 20%;

      background-image: url('../images/test.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      color: $thirdColor;
      font-weight: 700;
      font-size: 2rem;
      text-align: center;
      font-weight: bold;


      -webkit-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
      box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);

      p {
        display: block;
        max-height: 60%;
        padding: 10px;
        margin: 0.5em 2em 0 2em;


        color: $fifthColor;
        font-size: .9rem;
        text-align: center;

        background-color: rgba(0,0,0,0.77);

        span {
          color: $fourthColor;
          font-size: 1.2rem;
        }
      }
    }
  }
}


//Style dla >900px
@include desktop() {
  .container {
    flex-direction: row;
    .block {
      flex: 0 33%;
    }
  }
}
//Style dla 600px<..<900px
@include mobile() {
  .container {
    flex-direction: row;
    .block {
      flex: 0 50%;
    }
  }
}
